/Deployment/Distribution/*
/Design/Thumbs.db
/Implementation/.settings
/Implementation/acceptance-tests/.settings
/Implementation/acceptance-tests/Logs/*
/Implementation/acceptance-tests/target
/Implementation/domain/.settings
/Implementation/domain/Logs/*
/Implementation/domain/target
/Implementation/integration-tests/.settings
/Implementation/integration-tests/Logs/*
/Implementation/integration-tests/target
/Requirements/**/*.zip
