/Deployment/Distribution/*
/Implementation/.settings
/Implementation/conference-planner-domain/.settings
/Implementation/conference-planner-domain/Logs/*
/Implementation/conference-planner-domain/target
/Implementation/conference-planner-integration-tests/.settings
/Implementation/conference-planner-integration-tests/Logs/*
/Implementation/conference-planner-integration-tests/target
/Requirements/**/*.zip
